<div class="container m-5">
  <h1>My tasks!</h1>
  <br>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <% if task.completed %>
          <input type="checkbox" checked>
        <% else %>
          <input type="checkbox">
        <% end %>
        <%= link_to task.title, task_path(task) %>
      </li>
      <br>
    <% end %>
  </ul>

  <hr class="solid">

  <i class="fa fa-plus"></i> <%= link_to 'Add new task', tasks_new_path %>

</div>
